@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,600&display=swap');
$fontMain: 'Poppins',
sans-serif;
//variables para los textos
$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;
$d-flex:flex;